extends layout

block content
    div.contenedorprincipal
        header
            h1 #{title}
        section
            div.contenedorinfo
                div.info
                    h1 ABC de Buses
                    p
                        | Crear Bus



                        form(action='/Crear_Bus', method='post')

                          label Nombre:
                          input(id='nombre', type='text', name='Nombre', value='')
                          p

                          | Costo por kilometro -
                          input(id='km', type='text', name='Km', value='')
                          p
                          | Clase-
                          input(id='clase', type='text', name='Clase', value='')
                          p
                          input(type='submit', value='Crear')

                    p
                        | Editar Bus


                        form(action='/Actualizar_Bus',method='post')

                          | Nombre -
                          input(id='nombre',type='text', name='Nombre', value='')
                          p
                          | Costo por kilometro .
                          input(id='km',type='text', name='Km', value='')
                          p
                          | Clase -

                          input(id='clase',type='text', name='Clase', value='')
                          p
                          input(type='submit', value='Actualizar')
                    p
                        | Eliminar Bus

                        form(method='post', action='/Eliminar_Bus')

                          | Nombre -
                          input(id='bus',type='text', name='bus', value='')
                          p
                          input(type='submit', value='Eliminar')

                div.contenedorpie
                    p
                        | .
                div.info
                    h1 Planificación o definición o distribución de rutas y buses

                    p
                        | Crear_Ruta


                        form(action='/Crear_Ruta',method='post')

                          | Nombre -
                          input(id='ruta',type='text', name='Ruta', value='')
                          p
                          input(type='submit', value='Crear_Ruta')
                    p
                        | Crear Parada


                        form(action='/Crear_Parada',method='post')

                          | Nombre -
                          input(id='parada',type='text', name='Parada', value='')
                          p
                          | Localizacion -
                          input(id='loca',type='text', name='Loca', value='')
                          p
                          input(type='submit', value='Crear_Parada')

                    p
                        | Asignar bus


                        form(action='/Asignar_Bus',method='post')

                          | Bus -
                          input(id='bus',type='text', name='Bus', value='')
                          p
                          | Ruta -
                          input(id='ruta',type='text', name='Ruta', value='')
                          p
                          input(type='submit', value='Asignar_Bus')
                    p
                        | Asignar parada


                        form(method='post', action='/Asignar_Parada')

                          | Parada -
                          input(id='parada',type='text', name='parada', value='')
                          p
                          | Ruta -
                          input(id='ruta',type='text', name='Ruta', value='')
                          p
                          | Secuencia -
                          input(id='sec',type='text', name='Sec', value='')
                          p
                          input(type='submit', value='Asignar Parada')

                div.contenedorpie
                    p
                        | .
                div.info
                    h1 Reservar boleto
                    p
                        fieldset

                          form(method='post', action='buscar')

                            | Cliente -
                            input(type='text', name='Cliente', value='')
                            p

                            | Ruta -
                            input(type='text', name='ruta', value='')
                            p
                            | Inicio-
                            input(type='text', name='Inicio', value='')
                            p
                            | Fin-
                            input(type='text', name='Fin', value='')
                            p
                            | Nombre-
                            input(type='text', name='Nombre', value='')
                            p
                            input(type='submit', value='Reservar')


                div.contenedorpie
                    p
                        | .
                div.info
                    h1 Pago de ticket
                    p
                        fieldset

                          form(method='post', action='buscar')

                            | Cliente -
                            input(type='text', name='Cliente', value='')
                            p
                            | Ticket -
                            input(type='text', name='Ticket', value='')
                            p
                            input(type='submit', value='Pagar')

                div.contenedorpie
                    p
                        | .
                div.info
                    h1 Consulta de viajes (detallado en el enunciado)
                    p
                        | Crear Bus

            div.contenedorsidebar
                div#sidebar
                    h1 Datos
                    p
                        | Keneth Efren Ubeda Arriaza
                    p
                        | Carnet 201212728
        footer
            div.contenedorpie
                p
                    | Todos los derechos reservados

