extends layout

block content
    div.contenedorprincipal
        header
            h1 #{title}
        section
            div.contenedorinfo
                div.info
                    h1 Manual
                    p
                        | Bases de datos 1
                    p
                        | Primer Semestre 2015
            div.contenedorsidebar
                div#sidebar
                    h1 Datos
                    p
                        | Keneth Efren Ubeda Arriaza
                    p
                        | Carnet 201212728
        footer
            div.contenedorpie
                p
                    | Todos los derechos reservados
